<!DOCTYPE html>
<html lang="en" class="no-js">
    <head>

        <script async defer data-website-id="a378bd09-212d-4801-94cc-9797b6a5f3f7" src="../js//common.js"></script>

        <!-- Title and Icon -->

        <title>JuTalk Video Call</title>

        <!-- Meta Information -->

        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <meta
            name="description"
            content="JuTalk powered by WebRTC, Real-time video calls, chat and screen sharing capabilities in the browser, from your mobile or desktop."
        />

        <!-- https://ogp.me -->

        <meta property="og:type" content="app-webrtc" />
        <meta property="og:site_name" content="JuTalk" />

        <!-- StyleSheet -->

        <link rel="stylesheet" href="../css/landing.css" />
    </head>
    <body class="has-animations">
        <div class="body-wrap">
            <header class="site-header reveal-from-top">
                <div class="container">
                    <div class="site-header-inner">
                        <div class="brand">
                            <div class="m-0">
                                <a href="/">Home</a>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <main class="site-content">
                <section class="hero section illustration-section-01">
                    <div class="container">
                        <div class="hero-inner section-inner">
                            <div class="split-wrap invert-mobile">
                                <div class="split-item">
                                    <div class="hero-content split-item-content center-content-mobile">
                                        <h1 class="mt-0 mb-16 reveal-from-bottom text-dark" data-reveal-delay="150">
                                            Access denied.
                                        </h1>
                                        <script>
                                            let qs = new URLSearchParams(window.location.search);
                                            let roomId = qs.get('roomId');
                                            let getUserMediaError = qs.get('getUserMediaError');
                                            console.log('Allow Camera && Audio', {
                                                roomId: roomId,
                                                getUserMediaError: getUserMediaError,
                                            });
                                            // print getUserMedia error
                                            document.getElementById('getUserMediaError').innerHTML = getUserMediaError;
                                        </script>
                                        <div class="reveal-from-bottom" data-reveal-delay="450">
                                            <button
                                                class="button button-primary button-wide-mobile pulse"
                                                onclick="roomId ? window.location.href = '/join/' + roomId : window.location.href = '/newcall';"
                                            >
                                                Try again
                                            </button>
                                        </div>
                                    </div>
                                    <style>
                                        @media (min-width: 641px) {
                                            .hero .split-wrap .split-item {
                                                min-height: 492px;
                                            }
                                        }
                                    </style>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </main>
        </div>

        <script defer src="../js/landing.js"></script>
    </body>
</html>
